.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        folgore
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{href: "/groups/new"}
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          %a{href: "/users/961/edit"}
            %i.fa.fa-cog

  .groups
    %a{href: ""}
      .group
        %p.group__group-name
          group
        %p.group__latest-massage
          まだメッセージはありません
      .group
        %p.group__group-name
          group
        %p.group__latest-massage
          まだメッセージはありません