.chat-side{
  width: 300px;
  color: #fff;
  float:left;
}

.side-header{
  background-color: #2f3e51;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  &__box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    &__user-name{
      display: inline-block;
      font-weight: bold;
    }
    &__menu{
      color: #fff;
      display: flex;
      list-style: none;
    }
  }
}

.groups{
  background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
  .group{
    box-sizing: border-box;
      padding: 20px 0 40px;
    &__group-name{
      color: $white;
      font-size: $side_group_name;
    }
    &__latest-massage{
      font-size: $side_group_message;
        margin-top: 5px;
    }
  }
}